/* The sticky class is added to the header with JS when it reaches its scroll position */
.header {
    position: relative;
    top: 0;
    width: 100%
  }

#amberStreet {
  width: 100%;
}

.links {
  vertical-align: middle;
}


  /* in an effort to get buttons to align vertically
  /* .buttons {
    vertical-align:0rem;
    
    } */